*{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
#one{
    width: 200px;
    height: 400px;
    background-color: rgb(222, 35, 113);
    
}
#two{
    width: 200px;
    height: 400px;
    background-color: burlywood;
}
#three{
    width: 200px;
    height: 400px;
    background-color: brown;
}




@media screen and (max-width:700px) {
    *{
        display: block;
    }
    #three{
        border: 2px solid black;
        width: 200px;
        height: 400px;
        background-color: yellow;
    }
}


